[Unit]
Description=Serviço que inicia o servidor xorg
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=juan
ExecStart=/bin/startx

[Install]
WantedBy=multi-user.target
